[CURRENCY_CODE_API_CONFIG]
CURRENCY_CODES=Date,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,GBP,HKD,HRK,HUF,IDR,ILS,INR,ISK,JPY,KRW,MXN,MYR,NOK,NZD,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
BASE_CURRENCY=USD
API_URL=https://api.exchangeratesapi.io/latest
OUTPUT_DIR=./
OUTPUT_FILE_SUFFIX=currency_rates_hourly.csv